.card{
  position: relative;
  width: 100%;
  overflow: hidden;
  background: $white;
  margin-bottom:15px;
  transition: .25s;

  &__inner{
    padding: 1.125rem;
    margin: 0.625rem;
    box-shadow: 0 10px 35px rgba(50,50,93,.1),0 2px 15px rgba(0,0,0,.07);
    max-height:350px;
    height:350px;
  }

  &:hover{
    cursor:pointer;

    &-inner{
      box-shadow: 0 10px 35px rgba(50,50,93,.17),0 2px 15px rgba(0,0,0,.14);
    }
    .button-primary{
      transform: translate(10px, 0);
    }
  }

  &-header{
    height: 150px;
    width: 100%;
    padding: 15px;
    width:100%;
    background-size:cover;
    color:#fff;
  }

  .card-header--title{
    text-transform: uppercase;
    margin: 0;
  }

  &-body{
    padding: 15px;
    background-color:#fff;
    width:100%;

    .date{
      font-size: 11px;
      font-weight: 600;
      color: gray;
    }

    .body-content{
      padding-bottom: 15px;
      font-size: 13px;
      line-height: 1.8;
    }

    .button-primary{
      border: none;
      box-shadow: none;
      font-family: inherit;
      background-color:transparent;
      color: $brand-color;
      font-size: 15px;
      transition:.25s;

      i{padding-right: 4px;}
      svg{
        vertical-align:bottom;
      }
    }

    .card__tags{
      li{
        margin-right: 10px;
        font-size: 2rem;
      }
    }
  }
}