.contact{
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.65), 
      rgba(0, 0, 0, 0.65)
    ),
    /* bottom, image */
    url(../images/footer.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  position:relative;


  .footer{
    color: $white;
    z-index:2;
    @include breakpoint(s){
      margin-bottom: 5rem;
    }

    .footer__quote{
      padding: 1rem 0;
      font-size: 2rem;      
    }
  }

  .contact__form {
    padding:5rem 2rem;
    background-color: $white;

    .footer__header{margin-bottom:3rem;}

    input + div {
      top:-25px
    }

    textarea{
      width:100%;
      border: none;
      border-bottom: 1px solid $brand-color;
      background-color: transparent;
    }
  }

}

.footer__header{
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
}